* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(234, 243, 250);
    /* font-family: 'Concert One', sans-serif; */
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Ubuntu', sans-serif; */
}

.nav {
    width: 100%;
    height: 100px;
    padding: 5px 0px;
    /* background-color: rebeccapurple; */
    /* position: sticky;
    top: 0; */
}

.nav .container {
    width: 90%;
    margin: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.nav .container img {
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

.nav ul {
    width: 35%;
    padding: 1px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.nav ul li {
    list-style: none;
    padding: 10px;
    margin: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.nav ul li:hover {
    cursor: pointer;
    transition: all .5s ease-in-out;
    transform: scale(1.1);
    /* border-bottom: solid 1px; */
}

.nav .container .navbtn {
    /* background-color: lightblue; */
    padding: 1rem;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    outline: none;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button:hover {
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}



.courseshero {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-top: -25px;
}

.courseshero .text-area {
    width: 50%;
    height: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.courseshero .text-area h1 {
    font-size: 120px;
    line-height: 150px;
    -webkit-text-stroke: 1px black;
}

.courseshero .courses-img {
    width: 50%;
    height: 100%;
}

.courseshero .courses-img img {
    width: 100%;
    height: 866px;
}

/* Course collection area */

.course-collection {
    width: 100%;
    /* height: 100vh; */
    /* background-color: antiquewhite; */
}

.course-collection .container {
    width: 90%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    /* background-color: aliceblue; */
}

.container>h1 {
    text-align: center;
}

.container>p {
    text-align: center;
}

.course-collection .container .course-cards {
    width: 100%;
    padding-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.course-cards .course-card {
    width: 300px;
    margin: 30px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.course-card-img {
    /* background-image: url(https://images.unsplash.com/photo-1600132806608-231446b2e7af?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fHdlYnNpdGUlMjBkZXZlbG9wbWVudHxlbnwwfHwwfHx8MA%3D%3D); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.course-collection .course-card .course-card-text {
    padding: 10px;
}
.course-collection .course-card .course-card-text .course-card-text-header >h3{
    padding: 10px;
    line-height: 25px;
    font-weight:bold;
}



.container .course-card:nth-child(1) .course-card-img {
    background-image: url(https://images.unsplash.com/photo-1600132806608-231446b2e7af?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fHdlYnNpdGUlMjBkZXZlbG9wbWVudHxlbnwwfHwwfHx8MA%3D%3D);
}

.container .course-card:nth-child(2) .course-card-img {
    background-image: url(https://images.unsplash.com/photo-1581287053822-fd7bf4f4bfec?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8VUl8ZW58MHx8MHx8fDA%3D);
}

.container .course-card:nth-child(3) .course-card-img {
    background-image: url(https://plus.unsplash.com/premium_photo-1683147638125-fd31a506a429?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjV8fHdlYnNpdGUlMjBkZXZlbG9wbWVudHxlbnwwfHwwfHx8MA%3D%3D);
}
.container .course-card:nth-child(4) .course-card-img{
    background-image: url(https://cdn.pixabay.com/photo/2020/07/19/20/27/code-5421210_640.jpg);
}
.container .course-card:nth-child(5) .course-card-img{
    background-image: url(https://images.unsplash.com/photo-1666015322883-2a42050a439d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fDNkJTIwYmxlbmRlcnxlbnwwfHwwfHx8MA%3D%3D);
}
.container .course-card:nth-child(6) .course-card-img{
    background-image: url(https://images.unsplash.com/photo-1654573819091-36b008c523a0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjd8fGFmdGVyJTIwZWZmZWN0fGVufDB8fDB8fHww);
}
.container .course-card:nth-child(7) .course-card-img{
    background-image: url(https://images.unsplash.com/photo-1637519290541-0a12b3185485?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzd8fGFkb2JlX3Bob3Rvc2hvcHxlbnwwfHwwfHx8MA%3D%3D);
}

/* footer-area */
.footer{
    width: 100%;
}
.footer .container {
    width: 90%;
    margin:15px auto;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}
.footer .left-footer{
    width: 20%;

}
.footer .left-footer img{
    width: 15%;

}